# Keras / HDF5 Modell-Dateien
*.h5
*.keras

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/
02_Supervised_Learning/01_Klassifikation/03_DeepLearning/WasteClassification/model_config.json
